body {
    background-color: #f8f9fa;
}
.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 100%;
}

.card:hover {
    transform: translateY(-5px);
}
.card-header {
    font-weight: bold;
    background-color: #ffffff;
    border-bottom: 1px solid #e9ecef;
}
.sensor-value {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
}
.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.status-active {
    background-color: #28a745;
}
.status-inactive {
    background-color: #dc3545;
}
.gauge-container {
    text-align: center;
}
.gauge-container canvas {
    width: 200px;
    height: 200px;
}



.chart-container {
    text-align: center;
}
.chart-container canvas {
    width: 100%;
    max-width: 500px;
    height: auto;
}
.text-center {
    font-size: 1.1rem;
    margin-top: 10px;
}
.form-switch .form-check-input {
    width: 3em; /* حجم الزر */
    height: 1.5em;
    margin-left: 0;
    cursor: pointer;
}
.form-switch .form-check-label {
    margin-left: 10px;
    cursor: pointer;
}
.form-range {
    width: 100%;
    cursor: pointer;
}

.form-label {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 1.1rem;
}
