{% load filters %}
{% with elment_new_id=x|append_uuid %}

<div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            {{ element.details.title|default:"title" }}
            <span class="status-{{ elment_new_id }}" id="{{ elment_new_id }}-status"></span>
        </div>
        <div class="card-body">
            <div class="gauge-container">
                <canvas id="{{ elment_new_id }}" width="200" height="200" style="width: 200px; height: 200px;"></canvas>
            </div>
            <p class="text-center mt-3">Current Value: <span id="{{ elment_new_id }}-value">0</span> {{ element.details.unit|default:"Count" }}</p>
        </div>
    </div>

    <script>
        (function() {
            if (typeof window.all_elements === 'undefined') {
            window.all_elements = {};
            }
            if (!window.all_elements["{{element.id}}"]) {
            window.all_elements["{{element.id}}"] = [];
            }
            window.all_elements["{{element.id}}"].push(new SensorGauge("{{ elment_new_id }}", {{ element.details|default:"{}"|safe }}));
        })();
    </script>
``
    {% endwith %}
